$border-color: #428bca; // ボーダーライン
.body{
    display: block;
}
.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    z-index: 10;
    overflow: hidden;
    display: block;

    .container {
        margin-left: 15px;
        max-width: 100%;
    }
    svg {
        float: left;
    }

    .liner {
        align-items: left;
        display: flex;
    }

    .title-and-menu {
        border-bottom: 1px solid $border-color;
        padding: 0;
        margin-left: 15px;
        float: left;
        // display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 auto;
    }

    h1 {
        font-size: 20px;
        color: black;
    }

    .router-container {
    margin-top: 20px;
    padding-left: 30px;
    height: 100%;
    }
}


.Container {
    display: inline-block;
    overflow: hidden;
}
.resultArea{
    margin: 20px;
}
.threeArea{
    margin: 20px;
    width: 700px;
    height: 700px;
    z-index: 0;
    float: left;
}
.inputArea{
    margin: 20px 0 0 20px;
    z-index: 1;
    float: left;
}