<!-- 
<button (click)="doForecast()">予測</button>
 -->
 <div class="right-contents">
    <div class="spled0">
        <h4>入力条件</h4>
        <div class="p">
            <div class="label"><label>堤体幅</label></div>
            <input class="input " id="param002" name="param002" type="number" min="1" max="14" step="0.1" [(ngModel)]="result.param002" (change)="onChange($event)"  />
        </div>
        <div class="p">
            <div class="label"><label>壁体高さ</label></div>
            <input class="input " id="param003" name="param003" type="number" min="2" max="10" step="0.1" [(ngModel)]="result.param003" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>堤外区間地表面</label></div>
            <input class="input " id="param006" name="param006" type="number" min="0" max="5" step="0.1" [(ngModel)]="result.param006" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>堤内区間地表面</label></div>
            <input class="input " id="param007" name="param007" type="number" min="0" max="5" step="0.1" [(ngModel)]="result.param007" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>堤外側水位</label></div>
            <input class="input " id="param401" name="param401" type="number" min="0" max="9.9" step="0.1" [(ngModel)]="result.param401" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>堤内側水位</label></div>
            <input class="input " id="param402" name="param402" type="number" min="0" max="4.4" step="0.1" [(ngModel)]="result.param402" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>矢板型</label></div>
            <input class="input " id="param201" name="param201" type="number" min="3" max="5" step="1" [(ngModel)]="result.param201" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>矢板材料</label></div>
            <input class="input " id="param202" name="param202" type="number" min="295" max="390" step="95" [(ngModel)]="result.param202" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>引張材間隔</label></div>
            <input class="input " id="param008" name="param008" type="number" min="0.8" max="1.6" step="0.8" [(ngModel)]="result.param008" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>引張材直径</label></div>
            <input class="input " id="param301" name="param301" type="number" min="25" max="90" step="1" [(ngModel)]="result.param301" (change)="onChange($event)" />
        </div>
        <div class="h">
            <div class="label1"><label>引張材材料</label></div>
            <ul class="heroes">
                <li *ngFor="let st of STUDMATERIAL"
                    [class.selected]="st.id === result.param302"
                    (click)="conSelect(st.id)">
                    {{st.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="spled1">
        <h4>中詰め土</h4>
        <div>
            <ul class="heroes">
                <li *ngFor="let typ of TYPE2s"
                    [class.selected]="typ.id === result.param113"
                    (click)="type2Select(typ.id)">
                    {{typ.name}}
                </li>
            </ul>
        </div>
        <div class="p">
            <div class="label"><label>中詰めN値</label></div>
            <input class="input " id="param114" name="param114" type="number" [(ngModel)]="result.param114" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>中詰め重量</label></div>
            <input class="input " id="param111" name="param111" type="number" [(ngModel)]="result.param111" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>中詰め摩擦角</label></div>
            <input class="input " id="param115" name="param115" type="number" [(ngModel)]="result.param115" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>中詰め粘着力</label></div>
            <input class="input " id="param116" name="param116" type="number" [(ngModel)]="result.param116" (change)="onChange($event)" />
        </div>
    </div>

    <div class="spled2">
        <h4>在来地盤</h4>
        <div>
            <ul class="heroes">
                <li *ngFor="let typ of TYPE2s"
                    [class.selected]="typ.id === result.param102"
                    (click)="type3Select(typ.id)">
                    {{typ.name}}
                </li>
            </ul>
        </div>
        <div class="p">
            <div class="label"><label>在来地盤N値</label></div>
            <input class="input " id="param103" name="param103" type="number" [(ngModel)]="result.param103" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>在来地盤摩擦角</label></div>
            <input class="input " id="param104" name="param104" type="number" [(ngModel)]="result.param104" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>在来地盤粘着力</label></div>
            <input class="input " id="param105" name="param105" type="number" [(ngModel)]="result.param105" (change)="onChange($event)" />
        </div>
        <div class="p">
            <div class="label"><label>在来地盤変形係数</label></div>
            <input class="input " id="param106" name="param106" type="number" [(ngModel)]="result.param106" (change)="onChange($event)" />
        </div>
    </div>

</div>